<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
     <bean id = "Helper" class = "com.data.loosecoupling.Helper">
    	<property name="helpMen" ref="CoupleMen"></property>
    </bean>
    <bean id = "CoupleMen" class = "com.data.loosecoupling.CouplingMen"></bean>
    <bean id = "CoupleWomen" class = "com.data.loosecoupling.CouplingWomen"></bean>

</beans>
