<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "sportsDetails" class= "cm.java.callback.SportsDetails" init-method="initMethod" destroy-method="cleanUp">
      <property name = "sportOne" ref = "sportsOne"/>
      <property name="sportTwo" ref = "sportsTwo"></property>
      <property name="sportThree" ref = "sportsThree"></property>
    </bean>
	<bean id = "sportsOne" class = "cm.java.callback.Sports">
		<property name="name" value = "football"></property>
		<property name="players" value = "11"></property>
		<property name="type" value = "outdoor"></property>
	</bean>
		<bean id = "sportsTwo" class = "cm.java.callback.Sports">
		<property name="name" value = "cricket"></property>
		<property name="players" value = "11"></property>
		<property name="type" value = "outdoor"></property>
	</bean>
		<bean id = "sportsThree" class = "cm.java.callback.Sports">
		<property name="name" value = "TT"></property>
		<property name="players" value = "2"></property>
		<property name="type" value = "indoor"></property>
	</bean>
	<bean class = "cm.java.callback.StudentPostProcessor"/>
</beans>
